/* node-style package resolution in CSS file */
@import "~antd/dist/antd.css";

/* TABLE */
.ant-table-body {
  min-height: 300px;
}

.ant-table-thead > tr > th {
  height: 5px;
  padding: 4px;
}

.ant-table-tbody > tr > td {
  height: 30px;
  padding: 2px;
}

/* FORM */
.ant-form-item {
  margin-bottom: 5px;
}
